@import url(/css/shared-css/home.css);
@import url(/css/shared-css/about.css);
@import url(/css/shared-css/skills.css);
@import url(/css/shared-css/contact.css);
@import url(/css/shared-css/footer.css);
@import url(/css/shared-css/header.css);
@import url(/css/shared-css/projects.css);
@import url(/css/shared-css/education.css);

@import url(/css/responsive.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* --bg-color: #081b29 */
  --bg-color: #071c2f;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #3dc8ff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

span {
  color: var(--main-color);
}

section {
  min-height: 100vh;
  padding: 10rem 0 2rem;
}

/* ANIMATION RELOAD AND SCROLL */

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(.3s * var(--i));
}

section:nth-child(odd) .animate.scroll,
.footer .animate.scroll {
  background: var(--second-bg-color);
}

.about.show-animate .animate,
.education.show-animate .animate,
.footer.show-animate .animate {
  transition-delay: calc(.3s * var(--i));
  width: 0;
}

/* KEYFRAMES ANIMATION */

@keyframes homeBgText {

  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {

  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
