.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--second-bg-color);
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(90px, 100%), 1fr));
  gap: 1rem;
  z-index: 0;
  border-radius: .6rem;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  background: var(--bg-color);
  border: .2rem solid var(--main-color);
}

.skills-content .skill_item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: .6rem;
  padding: 1rem;
}

.skills-content .skill_item img {
  width: 4.5rem;
  height: 4.5rem;
}

.skills-content .skill_item p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}
